.route--active {
  font-weight: bold;
  text-decoration: underline;
}
.header-drawer {
	z-index: 101;
	position: fixed;
    right: 0;
	[type=button] {
		-webkit-appearance: inherit;
	}
}
.header-nav {
	height: 60px;
	padding-right: 56px;
	background: rgba(255, 255, 255, 0.9);
	border-bottom: 1px solid #e3e4e5;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	-webkit-transition: right 0.5s, -webkit-transform 0.25s;
	-moz-transition: right 0.5s, -moz-transform 0.25s;
	-o-transition: right 0.5s, -o-transform 0.25s;
	transition: right 0.3s, transform 0.25s;
}
.app-bar-login {
	padding: 0 0.5em;
	height: 60px;
	border-bottom: 1px solid rgb(0, 188, 212);
}
.home-logo {
	margin: 0 1.5em;
	display: inline-block;
}
.sites-nav {
	float:right;
	.nav-item {
		font-weight: 500;
		font-size: 1em;
    	list-style: none;
    	line-height: 30px;
    	display: list-item;
    	text-align: -webkit-match-parent;
    	a {
    		text-decoration: none;
    		color: #4c4c4e;
    		padding: 0.75em 1em;
    	}
    	:hover {
    		color: #1c75b9;
    	}
	}
}